.navigation{
    background-color: navy;
   }
   .navCont ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    
  }
  
  .navCont li {
    float: left;
  }
  
  .navCont li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navCont li a:hover {
    background-color: white;
    color:black;
    
  }
  